body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(77, 74, 252, 0.1);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1 {
    margin-bottom: 20px;
}

.register-button {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
}

.container {
    margin-top: 50px; /* Disesuaikan untuk navbar tetap */
}

.card {
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 15px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Gaya tambahan untuk kalender */
#calendar {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#calendar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.nav a{
    color: #007bff;
    margin-left: 15px;
}